# ── Database ─────────────────────────────────────────────────────────────────
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@db:5432/utstock_db

# ── Auth ──────────────────────────────────────────────────────────────────────
# Generate: python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET_KEY=CHANGE_WITH_RANDOM_HEX_64_CHARACTERS

JWT_EXPIRE_HOURS=12

# ── CORS ─────────────────────────────────────────────────────────────────────
CORS_ORIGINS=["http://CHANGE_WITH_IP_VPS"]

# ── Email (Resend) ────────────────────────────────────────────────────────────
RESEND_API_KEY=
